<div class="jumbotron">
  <h1>Welcome to paidcontent.com!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    To subscribe please click link below.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="http://www.google.fi">Pay for the content<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing" ng-controller="MainCtrl">
  <h4>Lorem ipsum</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
