<div class="row marketing" ng-controller="ThankYouCtrl">
  <h1>Thank you for subscribing to paidcontent.com.</h1>
  <p>Enjoy your content.</p>
</div>
<h2>Content example</h2>
<iframe src="//player.vimeo.com/video/91443707" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/91443707">Glome - a responsible evolution of online business and common sense</a> from <a href="http://vimeo.com/glomeinc">Glome</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
